*.exe filter=lfs diff=lfs merge=lfs -text
OllamaVoice.exe filter=lfs diff=lfs merge=lfs -text
OllamaVoice_Setup.exe filter=lfs diff=lfs merge=lfs -text
dist/OllamaVoice.exe filter=lfs diff=lfs merge=lfs -text
build/OllamaVoice/OllamaVoice.pkg filter=lfs diff=lfs merge=lfs -text
